node_modules
dist
.DS_Store
*.local
.env
.env.*
.capacitor
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
android/.idea/
*.apk
!releases/*.apk
*.aab
!releases/*.aab
*.tsbuildinfo
src/credentials.local.ts
credentials.local.json
credentials.drive.json

